body{
	height:100%;
	width:100%;
	margin:0px;
}

#map{
	position:absolute;
	height:100%;
	width:100%;
	z-index:10;
}

#panel{
	float:right;
	position:absolute;
	height:100%;
	width:25%;
	margin-left:75%;
	z-index:10000;
	background: rgba(142,207,71, 0.5);
}

.panel{
	height:calc(50% - 22px);
	margin:20px;
	border:2px solid;
	overflow:auto;
}

.panel-default{
	border-color:#000000;
	border-radius:10px;
}


.panel-body{
	background-color:white;
	border-radius:10px;
}

#subpanel{
	height:calc(100% - 74px);
}

.btn-group{
	width:100%;
	float:center;
}

.btn.btn-default.dropdown-toggle{
	width:100%;
}

.dropdown-menu{
	width:100%;
}

#button-green{
	background-color:green;
}

#button-red{
	background-color:red;
}

#button-blue{
	background-color:blue;
}

#button-yellow{
	background-color:yellow;
}

.btn-group.horizontal {
    margin: 0 auto; 
    text-align: center;
    width: inherit;
    display: inline-block;
}

.piechart{
	height:0px;
	width:100%;
}

.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.btn{
	padding-left:10px;
	padding-right:10px;
}

hr{
	margin-top:3px;
	margin-bottom:10px;
}