form[class*="leaflet-control"]
{
    margin: 0;
}

.leaflet-control-layers-list input[type="radio"],
.leaflet-control-layers-list input[type="checkbox"]
{
    margin: 0;
    font-weight: bold;
    min-height: 20px;
    float: left;
    margin-left: -20px;
}
.leaflet-control-layers-list label
{
    min-height: 20px;
    padding-left: 20px;
}
.map *
{
    font-size: 12px;
    font-weight: bold;
}
