body, html {
    width: 100%;
    height: 100%;
}
#infoPanel {
    min-height: 600px;
}
#charContainer {
    position: relative;    
}
.info-container {
    border-top: 1px solid #dfdfdf;
    padding: 5px 5px 0 5px;
}
.info-container > li {
    display: block;
    margin: 0;
    padding: 2px;
    text-align: left;
}
.slider {
    margin-left: 10px;
}
.header {
    margin: 15px 0;
}
.map {
    width: 100%;
    height: 600px;
    border: 1px solid #dfdfdf;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.info-panel {
    border: 1px solid #A5A5A5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
    background: white;
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
}
.esrgc-logo {
    width: 150px;
}
.footer-container {
    width: auto;
    margin: 0 auto 0 auto;
}
.thematic-controls {
    margin-left: 10px;
}
.swatch {
    width: 20px;
    height: 20px;
    margin: 1px;
    border: 1px solid black;
    display: inline-block;
    vertical-align: middle;
}
.legLabel {
    font-size: 12px;
    font-family: Arial;
    padding-left: 5px;
    vertical-align: middle;
}
/*Panel*/
.panel {
    min-height: 150px;
    margin-bottom: 20px;
    border: 1px solid #dfdfdf;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box; /*background: #F5F5F5;     background-image: -webkit-gradient(linear,left bottom,left top,from(#f5f5f5),to(#f9f9f9));     background-image: -webkit-linear-gradient(bottom,#f5f5f5,#f9f9f9);     background-image: -moz-linear-gradient(bottom,#f5f5f5,#f9f9f9);     background-image: -o-linear-gradient(bottom,#f5f5f5,#f9f9f9);     background-image: linear-gradient(to top,#f5f5f5,#f9f9f9);*/
    -webkit-transition: (border,height) 0.35s ease;
    -moz-transition: (border,height) 0.35s ease;
    -o-transition: (border,height) 0.35s ease;
    transition: (border,height) 0.35s ease;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.panel.in {
    border: 1px solid #eeeeee;
}
.panel-title {
    margin: 0;
    padding: 12px 14px;
    background-color: #f1f1f1;
    border-bottom: 1px solid #EBEBEB;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    font-size: 15px;
    font-weight: normal;
    line-height: 1;
    border-bottom: 1px solid #dfdfdf;
    text-shadow: #fff 1px 1px 1px;
    -webkit-box-shadow: 0 1px 0 #fff;
    box-shadow: 0 1px 0 #fff;
}
.panel-content {
    padding: 15px 15px 15px 15px;
    font-size: 12px;
}
.list-container > ul > li {
    padding: 10px 0;
    border-bottom: 1px solid #EEEEEE;
}
.inline-container > .list-container {
    margin: 0 5px 0 0;
}

.inline-container > div {
    display: inline-block;
    float: left;
}

.clear {
    clear: both;
}

.piechart {
    width: 150px;
    height: 150px;
    margin: auto;
}

