@{
    ViewBag.Title = "Potential Foodshed Map Viewer";
}
@section Scripts {
    @Scripts.Render("~/bundles/foodshed")
    <script type="text/javascript">
        var startup = function (e) { };    
    </script>
}
<div class="row">
    <div class="span12">
        <div class="panel">
            <div class="panel-title">
                <strong>Potential Foodsheds Map Viewer</strong>
            </div>
            <div class="panel-content">
                <div class="row-fluid">
                    <div class="span9">
                        <div class="map" id="map">
                        </div>
                    </div>
                    <div class="span3 well" id="infoPanel">
                        <div class="info-panel legend">
                            <p><strong>Human Nutritional Equivalent</strong></p>
                            <ul class="unstyled info-container" id="legendContainer">
                                <li style="text-align: center;">No data</li>
                            </ul>
                            
                        </div>
                        <div class="info-panel">
                            <p><strong>Foodneed Percentage</strong></p>
                            <div class="info-container" id="chartContainer">
                                <p>No data</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12 well">
                        <div class="inline-container">
                            <div id="regions">
                                <select class="input-medium" name="states" id="states">
                                    <option value="">--States--</option>
                                    <option value="NY">New York</option>
                                    <option value="MI">Michigan</option>
                                </select>
                                <select class="input-medium" name="cities" id="cities">
                                    <option value="">---</option>
                                </select>
                            </div>
                            <div class="thematic-controls">
                                <select class="input-medium" name="classification" id="classification">
                                    <option value="quantile">Quantile</option>
                                    <option value="equalInterval">Equal Interval</option>
                                </select>
                                <select class="input-medium" id="colorPicker">
                                    <option value="green">Green</option>
                                    <option value="red" >Red</option>
                                    <option value="blue">Blue</option>
                                    <option value="yellow">Yellow</option>
                                </select>
                                <input id="opacitySlider" type="text" value="" data-slider-min="0" 
                                    data-slider-max="100" data-slider-step="10" data-slider-value="80" 
                                    data-slider-orientation="horizontal" data-slider-selection="before"
                                />
                            </div>
                        </div>
                        <div class="clear">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Regions-->
@*<div>
    <div class="control-group">
        <label class="control-label" for="states">
            States</label>
        <div class="controls">
            <select class="input-medium" name="states" id="states">
                <option value="">---</option>
                <option value="NY">New York</option>
                <option value="MI">Michigan</option>
            </select>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="cities">
            Cities</label>
        <div class="controls">
            <select class="input-medium" name="cities" id="cities">
                <option value="">---</option>
            </select>
        </div>
    </div>
</div>
<div>
    <div class="control-group">
        <label class="control-label" for="states">
            Classification</label>
        <div class="controls">
            <select class="input-medium" name="classifications" id="classifications">
                <option value="quantile" selected="selected">Quantile</option>
                <option value="equalInterval">Equal Interval</option>
            </select>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="cities">
            Color theme</label>
        <div class="controls">
            <select class="input-medium" name="colorTheme" id="colorTheme">
                <option value="green" selected="selected">Green</option>
                <option value="red">Red</option>
                <option value="blue">Blue</option>
                <option value="yellow">Yellow</option>
            </select>
        </div>
    </div>
</div>*@